In [6]:
import nest_asyncio
nest_asyncio.apply()
import twint

c = twint.Config()

c.Username = "elonmusk"
c.Store_json = True
c.Output = "../data.json"

twint.run.Search(c)

AttributeError: module 'twint' has no attribute 'config'

In [5]:
import pandas as pd

In [6]:
data = pd.read_json("../data.json", lines = True)

In [7]:
data

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1615461396313178115,1615418460540145664,2023-01-18 02:59:45 India Standard Time,2023-01-18,02:59:45,530,44196397,elonmusk,Elon Musk,,...,,,,,,"[{'screen_name': 'glennbeck', 'name': 'Glenn B...",,,,
1,1615407202780721158,1615134834908856320,2023-01-17 23:24:24 India Standard Time,2023-01-17,23:24:24,530,44196397,elonmusk,Elon Musk,,...,,,,,,"[{'screen_name': 'mmm_machiavelli', 'name': 'M...",,,,
2,1615406697849442304,1615406697849442304,2023-01-17 23:22:24 India Standard Time,2023-01-17,23:22:24,530,44196397,elonmusk,Elon Musk,,...,,,,,,[],,,,
3,1615403742001762304,1615402597862735872,2023-01-17 23:10:39 India Standard Time,2023-01-17,23:10:39,530,44196397,elonmusk,Elon Musk,,...,,,,,,"[{'screen_name': 'ScottAdamsSays', 'name': 'Sc...",,,,
4,1615402425514614785,1615398117683388416,2023-01-17 23:05:25 India Standard Time,2023-01-17,23:05:25,530,44196397,elonmusk,Elon Musk,,...,,,,,,"[{'screen_name': 'karpathy', 'name': 'Andrej K...",,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,1611139320391544832,1611096634443849728,2023-01-06 04:45:22 India Standard Time,2023-01-06,04:45:22,530,44196397,elonmusk,Elon Musk,,...,,,,,,"[{'screen_name': 'lrocket', 'name': 'Tom Muell...",,,,
177,1611138353705156609,1610751153440018432,2023-01-06 04:41:31 India Standard Time,2023-01-06,04:41:31,530,44196397,elonmusk,Elon Musk,,...,,,,,,"[{'screen_name': 'Hitch_Slapping', 'name': 'Ch...",,,,
178,1611112185895473163,1611112185895473152,2023-01-06 02:57:32 India Standard Time,2023-01-06,02:57:32,530,44196397,elonmusk,Elon Musk,,...,,,,,,[],,,,
179,1611111410846814208,1611107762775228416,2023-01-06 02:54:28 India Standard Time,2023-01-06,02:54:28,530,44196397,elonmusk,Elon Musk,,...,,,,,,"[{'screen_name': 'cb_doge', 'name': 'DogeDesig...",,,,
180,1611110531917828097,1611107762775228416,2023-01-06 02:50:58 India Standard Time,2023-01-06,02:50:58,530,44196397,elonmusk,Elon Musk,,...,,,,,,"[{'screen_name': 'MrAndyNgo', 'name': 'Andy Ng...",,,,